body {
  margin: 0;
  background-color: #DEDEDE;
}

.container {
  width: 100%;
  height: 100vh;
}

.homeIMG-box {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  position: absolute;
}

.homeIMG-innerBox {
  margin: auto;
  display: flex;
  width: 100vh;
  height: 75vh;
}

.homeImg {
  width: 30vw;
  height: 75vh;
  background-image: url('./images/space4.jpg');
  background-size: cover;
  background-position: center;
}